@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  border: none;
  outline: none;
}

.display-background {
  @apply bg-black min-h-screen w-full flex flex-col justify-center items-center gap-4 p-8;
}

.text-heading-5xl {
  @apply text-5xl font-bold;
}

.text-content {
  @apply text-white text-base;
}

.button {
  @apply outline-none text-lg font-semibold text-gray-800 bg-white rounded-full border-2 border-gray-800 px-6 py-3 transition duration-100 ease-in-out transform;
}

.button:hover {
  @apply border-none text-white -translate-y-1 scale-110;
}

.button:active {
  @apply opacity-80 translate-y-0 scale-100;
}
